test data/
eval_results/
run.ps1
run_*
results/
.DS_Store
outputs/
slurm/
__pycache__/
data/
*.hf
*.txt
*.zip
*.pkl
tokens_mm_exams.json
tests/
Qwen2.5-VL-7B/
LlaVA-NeXT/
*.json
batch_*
models/
image_data/
